<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="styles.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <title>Index</title>
</head>
<body style="background-image: url(https://i1-suckhoe.vnecdn.net/2020/07/27/IMG29741595657479-1595825446-2467-1595825558.jpg?w=680&h=408&q=100&dpr=2&fit=crop&s=R8Tr6SUKZDOgxtzIduXTZA);">
    <h3>
        <div class="blueText">Hello world</div>
    </h3>
    <h3>Inline List</h3>
    <ul class="list-inline">
        <li><a href="#">Home</a></li>
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
    </ul>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Name</td>
            <td>Email</td>
        </tr>
        <tr>
            <td>Phuong</td>
            <td>phuong@gmail.com</td>
        </tr>
        <tr>
            <td>Hai</td>
            <td>Hai@fpt.edu.vn</td>
        </tr>
    </table>
    <div id="container">
        <input type="text" name="" id="" class="form-control">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
    
</body>
</html>